<mat-card>
  <mat-card-header>
    <mat-card-title>
      <button mat-icon-button (click)="updateIsCompleted(toDo, $event)" class="button"
              aria-label="Example icon button with a menu icon">
        <mat-icon *ngIf="toDo.fields.isCompleted == true">check_box</mat-icon>
        <mat-icon *ngIf="toDo.fields.isCompleted != true">check_box_outline_blank</mat-icon>
      </button>
      {{toDo.fields.Title}}
    </mat-card-title>
    <mat-card-subtitle>{{toDo.fields.project}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="mb-1">
      Created Time: {{toDo.createdTime | date}}
    </div>
    <div *ngIf="toDo.fields.startDate">
      <mat-chip-list class="chip">
        <mat-chip>
          <mat-icon class="mr-1">calendar_today</mat-icon>
          {{toDo.fields.startDate | date: 'MMM d'}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <div *ngIf="toDo.fields.dueDate">
      <mat-chip-list class="chip" [ngClass]="{'ml-auto': !toDo.fields.repeatingFrequency}">
        <mat-chip [ngClass]="{'color-primary': toDo.fields.dueDate <= nextWeek, 'color-accent': toDo.fields.dueDate <= today}">
          <mat-icon class="mr-1">flag</mat-icon>
          {{toDo.fields.dueDate | date: 'MMMM d'}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <div *ngIf="toDo.fields.repeatingFrequency">
      <button mat-icon-button class="button">
        <mat-icon>autorenew</mat-icon>
      </button>
      {{toDo.fields.repeatingCount}} - {{toDo.fields.repeatingFrequency}}
    </div>
    <div *ngIf="toDo.fields.subTasks">
      Sub Tasks: {{toDo.fields.subTasks}}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button class="button" (click)="duplicateToDo(toDo)">
      <mat-icon>library_add_check</mat-icon>
    </button>
    <button mat-icon-button class="button" (click)="editToDo(toDo)">
      <mat-icon>edit</mat-icon>
    </button>  </mat-card-actions>
</mat-card>
