<mat-sidenav-container *ngIf="!loading" class="example-container" fullscreen>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/starred'">
        Starred
        <div class="pl-5 ml-auto">
          {{toDosStarred.length}}
        </div>
      </a>
      <a mat-list-item [routerLink]="'/all'">
        All
        <div class="pl-5 ml-auto">
          {{toDos.length}}
        </div>
      </a>
    </mat-nav-list>  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


