<h1 mat-dialog-title>Create a New To Do</h1>
<div mat-dialog-content>
  <form class="example-form" (keyup.enter)="addToDo()">
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="toDo.fields.Title" name="addToDo" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="due" [(ngModel)]="toDo.fields.dueDate" [ngModelOptions]="{standalone: true}">
      <mat-datepicker-toggle matSuffix [for]="due"></mat-datepicker-toggle>
      <mat-datepicker #due></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="ml-5">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="start" [(ngModel)]="toDo.fields.startDate" [ngModelOptions]="{standalone: true}">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button>Cancel</button>
  <button mat-button (click)="addToDo()">Save</button>
</div>
