.footer-buttons {
  text-align: left;
  display: block;
}

.button {
  margin: 10px;
}

.todo-title {
  display: flex;
  width: 100%;
}

.color-primary {
  background-color: #6d3ebc;
  color: white;
}

.color-accent {
  background-color: #f9d944;
  color: #342b0f;
}

.chip {
  margin-top: 14px;
}

.title {
  margin-top: 20px;
}

.strike {
  text-decoration: line-through;
}

.project-rectangle {
  width: 10px;
  height: 60px;
}

.personal {
  background-color: #6d3ebc;
}
