<mat-accordion>
  <mat-expansion-panel *ngFor="let todo of toDos" hideToggle (opened)="onOpen(todo)" (closed)="onClose(todo)">
    <mat-expansion-panel-header class="pl-0" collapsedHeight="60px" expandedHeight="60px">
      <mat-panel-title>
        <div class="project-rectangle" [ngClass]="{'personal': todo.fields.project === 'Personal'}">
        </div>
        <button mat-mini-fab color="primary" *ngIf="todo.fields.isStarred == true" (click)="updateIsStarred(todo, $event)" class="button">
          <mat-icon>star</mat-icon>
        </button>
        <button mat-icon-button *ngIf="todo.fields.isStarred != true" (click)="updateIsStarred(todo, $event)" class="button">
          <mat-icon>star_border</mat-icon>
        </button>
        <button mat-icon-button (click)="updateIsCompleted(todo, $event)" class="button"
                aria-label="Example icon button with a menu icon">
          <mat-icon *ngIf="todo.fields.isCompleted == true">check_box</mat-icon>
          <mat-icon *ngIf="todo.fields.isCompleted != true">check_box_outline_blank</mat-icon>
        </button>
        <div class="todo-title">
          <mat-chip-list class="chip" *ngIf="todo.fields.startDate">
            <mat-chip>
              {{todo.fields.startDate | date}}
            </mat-chip>
          </mat-chip-list>
          <div class="title ml-2" [ngClass]="{'strike': todo.fields.isCompleted == true}">
            {{todo.fields.Title}}
          </div>
          <button mat-icon-button class="button" *ngIf="todo.fields.subTasks">
            <mat-icon>list</mat-icon>
          </button>
          <button mat-icon-button class="button ml-auto" *ngIf="todo.fields.repeatingFrequency">
            <mat-icon>autorenew</mat-icon>
          </button>
          <mat-chip-list class="chip" *ngIf="todo.fields.dueDate" [ngClass]="{'ml-auto': !todo.fields.repeatingFrequency}">
            <mat-chip [ngClass]="{'color-primary': todo.fields.dueDate <= nextWeek, 'color-accent': todo.fields.dueDate <= today}">
              {{todo.fields.dueDate | date}}
            </mat-chip>
          </mat-chip-list>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="mt-3">Created Time: {{todo.createdTime | date}}</p>
    <p>Project: {{todo.fields.project}}</p>
    <p *ngIf="todo.fields.completedDate">Completion Date: {{todo.fields.completedDate | date}}</p>
    <p *ngIf="todo.fields.repeatingFrequency">Repeating Information: {{todo.fields.repeatingFrequency}} - {{todo.fields.repeatingCount}}</p>
    <div *ngIf="todo.fields.subTasks">
      <mat-list role="list" *ngFor="let item of checklist">
        <mat-list-item role="listitem">
          <mat-checkbox color="primary" [(ngModel)]="item.isChecked">
            <div class="ml-2" [ngClass]="{'strike': item.isChecked}">
              {{item.label}}
            </div>
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
    </div>
    <mat-action-row class="footer-buttons">
      <button mat-icon-button class="button" (click)="duplicateToDo(todo)"
              aria-label="Example icon button with a menu icon">
        <mat-icon>library_add_check</mat-icon>
      </button>
      <button mat-icon-button class="button" (click)="editToDo(todo)"
              aria-label="Example icon button with a menu icon">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
